body {
    color:white
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top1 {
    background-image: url(images/e660a5d64f03cb261de0cb6638e3199b86ee87ed.jpg);
    background-size:100%;
    min-height: 100vh;
    height:1024px;
    margin: 0;
    padding: 0;
}



.main1 {
    background-color:rgba(213, 48, 5, 1);
    background-size:100%;
    min-height: 100vh;
    height:1024px;
    margin: 0;
    padding: 0;
}

.button-main1 {
    background:linear-gradient(to right,rgba(177, 62, 24, 1),rgba(243, 80, 26, 1));
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.button-main1:hover {
    background:linear-gradient(to right, rgba(177, 62, 24, 1), rgba(255, 104, 26, 1));
    color: #fff;
}

.gradientmain2 {
    background: linear-gradient(to bottom, rgba(213, 48, 5, 1), #000);
    min-height: 10vh;
}

.main2 {
    background: black;
    background-size:100%;
    min-height: 100vh;
    height:1024px;
    margin: 0;
    padding: 0;
}

.main3 {
    background-color:rgba(213, 48, 5, 1);
    background-size:100%;
    min-height: 100vh;
    height:1024px;
    margin: 0;
    padding: 0;
}

.button-main3-1 {
    color:white;
    background-color:black;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
.button-main3-1:hover {
    background:white;
    color:black;
}

.button-main3-2 {
    color:black;
    background-color:white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}
.button-main3-2:hover {
    background:black;
    color:white;
}

.gradientbottom {
    background: linear-gradient(to bottom, rgba(213, 48, 5, 1), #000);
    min-height: 3vh;
}

.bottom {
    background-color:black;
    background-size:100%;
    min-height: 10vh;
    height:536px;
    margin: 0;
    padding: 0;
}